# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite databases
*.sqlite3
*.db

# Playwright
test-results/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
